body {
/*background: url("../images/concrete_seamless.png");*/
background-color: #99ccff;
}

.jumbotron {
/*	background-color: #ffb3b3;*/
border-style: solid;
border-width: 4px;
}

/*button,*/
div,
form,
input{
	margin: 10px;
}

button {
	margin: 10px;
	background-color: #e7e7e7; color: black;
	border-radius: 4px;
	border: 3px solid black;
}

#addAnimal {
	margin: 10px;
	background-color: #e7e7e7; color: black;
	border-radius: 4px;
	border: 3px solid black;
}

img {
	border-radius: 4px;
	border: 4px solid black;
}

#animal-input {
	border-radius: 4px;
	border: 3px solid black;
}

label {
	margin-left: 12px;
}

#add-animals {
/*	
	margin: 0px auto;
	float: left;
    display: inline-block;*/
    /*border-radius: 4px;
	border: 3px solid black;
	height: 500px;
*/

}

#animalGif {
	display: inline-block;
}

.gif {
	height: 100px;
}